
.title {
    font-size: 1.8rem;
    padding-top: 3rem;
}

.subtitle {
    font-size: 1rem;
}
#text {
    text-align: justify;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
}

#text-carousel {
    margin-bottom: 2rem;
}

.multi-column-text {
    column-gap: 2rem;
    padding: 1rem 0;
}

.list-group-item a {
    color: inherit;
}

#nav {
    padding: 0;
}

#navbar-container {
    padding-bottom: 0;
}

.dropdown-menu a {
    text-decoration: underline;
}

.nav-element {
    padding-left: 0.5rem !important;
}

.navbar .dropdown-menu {
    padding: 0;
    border: none;
}

.navbar .dropdown-item {
    padding: 0.5rem 1rem;
    border: none;
}

.navbar .dropdown-item:hover {
    background-color: transparent;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .multi-column-text {
        column-count: 1;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .multi-column-text {
        column-count: 2;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .multi-column-text {
        column-count: 2;
    }
    #md-dropdown-menu {
        position: fixed;
        top: 56px;
        right: 15px; 
        width: 200px; 
        z-index: 1050; 
    }
}

@media (min-width: 992px) {
    .multi-column-text {
        column-count: 3;
    }
}

